<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd ">
	
	<context:component-scan
		base-package="com.longdinh.springmvc" />
	
	<mvc:annotation-driven />
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>  
	
	<bean id="person" class="com.dinhlong.model.Person" init-method="init" destroy-method="destroy" scope="singleton">
		<constructor-arg name="name" value="long" />
		<constructor-arg name="age" value="22"/>
		<!-- <property name="name" value="long2"></property> -->
	</bean>
	
	<bean id="order" class="com.dinhlong.model.Order" autowire="byName">
		<!-- <constructor-arg name="person" ref="person" />
		<property name="person" ref="person" ></property> -->
	</bean>
</beans>